/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-primary-categories  {
  background: $green;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}
.primary-category-panel {
	.components-base-control{
		padding: 10px 20px;
	}
}
.block-editor-block-inspector .components-base-control {
  width: 100%;
}